<section class="section__categories">

    <div class="categories__card">
        <img class="categories__img" src="./assets/shared/desktop/image-category-thumbnail-headphones.png"
            alt="headphones">
        <h6 class=" categories__heading heading__6">Headphones</h6>
        <button class=" btn__text--with-arrow">Shop</button>
    </div>

    <div class="categories__card">
        <img class="categories__img" src="./assets/shared/desktop/image-category-thumbnail-speakers.png" alt="speakers">
        <h6 class="categories__heading heading__6">Speakers</h6>
        <button class="btn__text--with-arrow">Shop</button>
    </div>

    <div class="categories__card">
        <img class="categories__img" src="./assets/shared/desktop/image-category-thumbnail-earphones.png"
            alt="earphones">
        <h6 class="categories__heading heading__6">Earphones</h6>
        <button class="btn__text--with-arrow">Shop</button>
    </div>

</section>