<header class="header header__home">

    <div class="home-banner">
        <div class="home-banner__title">
            <p class="overline overline--tertiary">New product</p>
            <h1 class="heading__1 c-tertiary">
                XX99 Mark II Headphones
            </h1>
            <p class="home-banner__text text text--gray">Experience natural, lifelike audio and exceptional build
                quality
                made for the passionate music enthusiast.</p>
            <button class="btn__primary btn__primary--orange mr-xs-t">See
                product</button>
        </div>

    </div>
</header>