<nav class="navbar" >

    <div class="navbar__container">

        <div class="navbar__tablet-image-group">
            <img class="navbar__hamburger--tablet" src="./assets/shared/tablet/icon-hamburger.svg" alt="icon-hamburger">
            <img src="./assets/shared/desktop/logo.svg" alt="Logo">
        </div>

        <img class="navbar__hamburger" src="./assets/shared/tablet/icon-hamburger.svg" alt="icon-hamburger">
        <img class="navbar__logo" src="./assets/shared/desktop/logo.svg" alt="Logo">

        <ul class="navbar__list">
            <li #home class="navbar__link" (click)="changePage(home)">Home</li>
            <li #headphones class="navbar__link" (click)="changePage(headphones)">Headphones</li>
            <li #speakers class="navbar__link" (click)="changePage(speakers)">Speakers</li>
            <li #earphones class="navbar__link" (click)="changePage(earphones)">Earphones</li>
        </ul>

        <picture #itemsInCart [attr.data-itemsInCart]="count" class="navbar__icon "
            (click)="onNavigationButtonClick('cart')">
            <img src="./assets/shared/desktop/icon-cart.svg" alt="cartIcon">
        </picture>
    </div>

    <app-navigation-dropdown-menu></app-navigation-dropdown-menu>

    <app-navigation-cart-modal *ngIf="navigationButtonType==='cart'"></app-navigation-cart-modal>

    <p-confirmDialog></p-confirmDialog>

</nav>

<!-- (cartItemsCount)="updateItemsInCartCircle($event)" -->