<section class="section__products">


    <div class="product product__zx9">
        <picture>
            <source media="(max-width:500px)" srcset="./assets/home/mobile/image-speaker-zx9.png">
            <source media="(max-width:1110px)" srcset="./assets/home/tablet/image-speaker-zx9.png">
            <img class="product__img-zx9" src="./assets/home/desktop/image-speaker-zx9.png" alt="ZX9">
        </picture>

        <div class="product__title product__title-zx9">
            <h1 class="heading__1 heading__1--white">ZX9 speaker</h1>
            <p class="text">Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.
            </p>
            <button class="btn__primary btn__primary--black mr-xs-t">See product</button>
        </div>
    </div>

    <div class="product product__zx7">
        <div class="product__title product__title-zx7">
            <h4 class="heading__4">ZX7 speaker</h4>
            <button class="btn__primary btn__primary--transparent">See product</button>
        </div>
    </div>


    <div class="product__img-yx1"></div>
    <div class="product product__yx1">
        <div class="product__title product__title-yx1">
            <h4 class="heading__4">YX1 earphones</h4>
            <button class="btn__primary btn__primary--transparent">See product</button>
        </div>
    </div>


</section>